$fontFamily:"Source Code Pro", Courier, mono;
$fontColor: white;

main, body {
  font-family: $fontFamily;
  color: $fontColor;
  background-color: rgb(56,61,60);
}

.intro-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.intro-item {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.canvas {
  max-height: 100%;
}