$fontFamily:"Source Code Pro", Courier, mono;
$fontColor: white;

main, body {
  font-family: $fontFamily;
  color: $fontColor;
  background-color: rgb(56,61,60);
}

.intro-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}