//@import "materialize-src/sass/materialize";

.container {
    display: flex;
    flex-direction: column;
    //align-content: center;
}
.headers { 
    padding-bottom: 1.5rem;
    background-color: #333333;
}
.title {
    display: inline;
    color: #DDDDDD;
    margin-left: 5%;
}
