.container {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.headers { 
    padding-bottom: 1.5rem;
    background-color: #333333;
}
.title {
    display: inline;
    color: #DDDDDD;
    margin-left: 40%;
}

.box {
    position: absolute;
    width: 159px;
    height: 239px;
    left: 102px;
    top: 211px;

    border: 1px solid #000000;
}